/* hamburger.css */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 26px;
    height: 3px;
    background: white;
    border-radius: 3px;
}

/* Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}
