<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">  <!-- Ajusta según tus rutas -->
    <title>Página no encontrada</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.ico') }}">    
</head>
<body>
    <header>
        <h1>¡Oops! Página no encontrada</h1>
    </header>

    <main>
        <p>La página que buscas no existe o ha sido movida.</p>
        <a href="/">Volver al inicio</a>
    </main>

    <footer>
        <p>&copy; 2025 Mi sitio web</p>
    </footer>
</body>
</html>
